<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1629425733761-caae3b5f2e50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGhlYWRzaG90fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @admin.name %></h5>
    <p class="card-text">  <%= @admin.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">  <%= @admin.email %></li>
    <li class="list-group-item">  <%= @admin.phone %></li>
    <li class="list-group-item">  <%= @admin.address %></li>
  </ul>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a><%= link_to 'Update Login Credentials', edit_admin_path, class: "card-link" %> </a>
      <a><%= link_to 'Update Profile Information', edit_attributes_admin_path, class: "card-link" %> </a>
  </div>
</div>      
<% if admin_logged_in? %>
<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3">
    <%= link_to "Create a new course", new_course_path, class:"btn btn-primary btn-lg px-4 gap-3" %>
    <%= link_to "Courses", courses_path, class:"btn btn-primary btn-lg px-4 gap-3" %>
</div>
<% end %>


