
<div class="container-fluid">
    <a id="topper" class="navbar-brand" href="#">
        <h1 style="color:white"><%= @course.name %></h1>
    </a>
    <span class="d-block p-2 text-white mt-4">
        <p><strong>Number:</strong> <%= @course.number%></p>
        <p><strong>Location:</strong> <%= @course.description %></p>
    </span>
    </div>
    <span class="d-block p-2 text-white text-center mt-5">
        <%= link_to "Contact Admissions", admins_path, class:"btn btn-light btn-lg px-4 gap-5" %>
        <%= link_to "Courses", courses_path, class:"btn btn-primary btn-lg px-4 gap-3" %>
    </span>
    
       