<h1>Login</h1>

<%= form_with(scope: :sessions, url: login_path) do |form| %>
<%= form.label :email, "Email" %>
<%= form.text_area :email %> 
<%= form.label :password, "Password" %> 
<%= form.submit %>